@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-menu.ag-ltr.ag-popup-child.ag-popup-positioned-under {
    top: 30.5px !important;
    left: 431px;
    background: #fff;
}
.ag-header-cell.ag-header-cell-sortable.ag-focus-managed{
    height: 30px !important;
}
.ag-watermark,
.ag-opacity-zero,
.ag-hidden {
    opacity: 0 !important;
    display: none !important;
}


.ag-ltr .ag-cell {
    font-size: 12px;
    font-weight: 500;
}

.ag-header-cell-comp-wrapper .ag-icon {
    color: #F2822A;
}

.ag-paging-button .ag-icon {
    color: #000;
}

.ag-header-container {
    border-top: 2px solid rgba(42, 43, 42, 0.201);
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.ag-header-container,
.ag-header-cell-label {
    background: #FFF7ED;

    color: #000;
    padding: 0;

}

.ag-header.ag-pivot-off.ag-header-allow-overflow,
.ag-header-row-column {
    height: 30px !important;
    min-height: 30px !important;
    font-size: 12px !important;
}

.ag-header.ag-pivot-off.ag-header-allow-overflow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ag-root-wrapper {
    border: none !important;
}

.ag-header-cell-menu-button:not(.ag-header-menu-always-show) {
    opacity: 1 !important;
    color: #F2822A;
    cursor: pointer;
}